<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap Flask Leaflet Map</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
    <link href="{{ url_for('static', filename='css/leaflet.css') }}" rel="stylesheet">
    
</head>
<body>

<div class="container">
    <!-- Container for the Leaflet map -->
    <div id="map" style="height: 1000px;"></div>
</div>

<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>